<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MagicPing</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link type="text/css" href="/user/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-3 login_MagicPing">
            <h2 class="heading text-center">
              Welcome to MagicPing
              <span>Sign In to Continue!</span>
            </h2>
            <div class="login_block">
              <a href="/auth/google/" class="social-button google"
                ><i class="fab fa-google"></i> <span>Login with Google</span>
              </a>
              <!-- <a href="#" class="social-button linkedin"><i class="fab fa-linkedin-in"></i> <span>Connect with LinkedIn</span> </a> -->
              <!-- <a href="#" class="social-button github"><i class="fab fa-github"></i> <span>Connect with Github</span> </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
